<h1>My Lists</h1>

<ul>

<% @lists.each do |list| %>

<li>
<%= link_to list.name, list_path(list) %> <%= link_to "ðŸ—‘ï¸",
list_path(list),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</li>

<% end %>

<%= link_to "add new list", new_list_path %>
</ul>
