
<h3>Create a new list</h3>
<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: 'list name' %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
<%= link_to "Back to list", root_path %>
