// .card {
//   background-color: blanchedalmond;
//   text-align: center;
// }

.card {
  width: 350px;
}

.card--list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card--link {
  align-self: center;
  color: #000;
}

.delete--button{
  align-self: flex-start;
  margin: 4px 4px 0 0;
  color: #ed0909;
}

.card--boxes{
  display: flex;
}

.img {
  width: 300px;
  margin-top: 5px;
  margin-left: 620px;
  background-color: lightblue;
  img {
    width: inherit;
    height: inherit;
    object-fit: contain;
    display: block;
  }
}
